*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* reponive additional commads start */

.headerbar{
display: none;
}
.searchicon{
    display: block;
}

/* end */
/* testing strt */
.logo{
    display: flex;
    justify-content:center ;
}
/* end */
.logo img{
    width: 60px;

}
.bar{
    display: none;
}
.header{
      /* nav styles here*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding:0 7vw;
    background-color: rgb(141, 237, 207);
    border-bottom: 2px solid rgb(42, 249, 35);
    box-shadow: 0 2px 20px rgb(5, 197, 211);
  
} 
.header ul{
    display: flex;
    align-items: center;
}
.header ul li:hover{
    color: rgb(231, 25, 25);
}
.nav ul li{
    padding: 0 15px;
    font-size: 1.1rem;
    font-weight: bold;

}
.account{
    flex: 0.1;
}
.account ul{
    display: flex;
    
    justify-content: end; 
}
.account ul li{
    padding: 0 15px;
    font-size: 1.5rem;
}
.bar i:hover{
    color: rgb(192, 33, 33);
}
.search{
    display: none;
    width: 200px;
    justify-content: center;
}
.search input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}
.srchicon{
    background-color: rgb(216, 249, 252);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
}
/* footer */
/* footer styles */
footer{
    background-color: aquamarine;
    padding: 2rem;
    
    
}
.footercontainer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 20px;

}
footer .footercontainer .sec p{
    color: #555;
 
}
footer .footercontainer .aboutdesc p{
    margin-top: 10px;
    margin-right:15px;
}
.aboutdesc .sci{
    display: flex;
    margin: 20px;
    flex-basis: 50px;
    gap: 20px;
}
.aboutdesc ul.sci li {
     display: grid;
    justify-content: center;
    align-content: center; 
    width: 36px;
    height:36px;
    
}
.footercontainer .contactinfo li{
    display: grid;
    grid-template-columns: 30px 1fr;
    
}
.sec ul{
    margin: 10px;
}
.quicklinks ul li{
    margin-top: 10px;
}
.contactdetails .contactinfo li{
    margin-top: 10px;
}
.copyrighttext{
    width:100%;
    background-color: aquamarine;
    padding: 20px ;
    text-align: center;
    border-top: 1px solid #555;
    
}
footer li:hover{
    text-decoration:3px  underline rgb(231, 25, 200);
    font-size: large;
}

@media(max-width:900px){
    .footercontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        gap: 20px;
    
    }}
@media(max-width:500px){
        .footercontainer{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: space-around;
            gap: 20px;
        
        }

}

/*  footer styles end*/

/* responive part */
@media only screen and (max-width:768px){
    .header .nav , .header .account{
        display:none;
    }
    .search{
        width:60vw;
    }
    .bar{
        display: block;
        cursor: pointer;
    }
    .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top:0;
        width:100%;
        bottom: 0;
        right: -100%;/* 0 to -100% changed */
        transition: all 0.5s;/* transition style for nav */
        background-color: rgb(216, 249, 252);
    }
    .headerbar .account, .headerbar .nav{
        display: block;
        font-size: 18px;
    }
   .bar .fa-xmark{
        display: none;
        top: 20px;
        right: 5vw;             /* w or vw*/
        position: absolute;
        font-size: 25px;
    } 
    .headerbar .nav ul{
       flex-direction: column;
       margin-top: 10px;
       text-align: center;
    }
.headerbar .nav li{
    width:96vw;
    margin:10px 0;
    padding:15px 30px;
    box-shadow: 0 2px 15px rgb(172, 255, 182);
    font-size: 15px;
    margin-top: 5px;
}
.header .account{
    line-height: 40px;
    margin-top: 60px;
    background-color: rgb(141, 237, 207);;
    padding: 15px;
}
.headerbar .account ul{
    justify-content: space-between;
}
}


/*  form */
.main_bg{
    background-color: #ff62cdc6;
    max-width: 1280px;
    /* height: 800px; */
min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #01016b;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #0a0303;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #0026ff;;
    font-size: 20px;
    color: #171616;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #4000ff;;
    font-size: 20px;
    color: #161515;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #07051a;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

.nav ul li.currentpage{
    background-color: rgb(22, 225, 63);
    padding: 10px;
    border-radius: 20%;
  }

  body{
    background-color: hsla(171, 84%, 48%, 0.635);
  }